/* -------------- Slide in from right -------------- */

@-moz-keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  75% {
    transform: translateX(0%);
    opacity: 1;
    margin-right: 0.35em;
  }
  85% {
    transform: translateX(0%);
    opacity: 1;
    margin-right: -0.35em;
  }
  95% {
    transform: translateX(0%);
    opacity: 1;
    margin-right: 0.1em;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@-webkit-keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  75% {
    transform: translateX(0%);
    opacity: 1;
    margin-right: 0.35em;
  }
  85% {
    transform: translateX(0%);
    opacity: 1;
    margin-right: -0.35em;
  }
  95% {
    transform: translateX(0%);
    opacity: 1;
    margin-right: 0.1em;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  75% {
    transform: translateX(0%);
    opacity: 1;
    margin-right: 0.35em;
  }
  85% {
    transform: translateX(0%);
    opacity: 1;
    margin-right: -0.35em;
  }
  95% {
    transform: translateX(0%);
    opacity: 1;
    margin-right: 0.1em;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

/* -------------- Slide in from top -------------- */

@-moz-keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@-webkit-keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

/* -------------- Slide in from botom -------------- */

@-moz-keyframes slideInFromBottom {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@-webkit-keyframes slideInFromBottom {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

/* -------------- opacity animation -------------- */

@-moz-keyframes opacityAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes opacityAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacityAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* -------------- Scale up animation -------------- */

@-moz-keyframes scaleUp {
  0% {
    transform: scale(0.25);
  }
  100% {
    transform: scale(1);
  }
}

@-webkit-keyframes scaleUp {
  0% {
    transform: scale(0.25);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes scaleUp {
  0% {
    transform: scale(0.25);
  }
  100% {
    transform: scale(1);
  }
}

/* -------------- Blinking animation -------------- */

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
