#navbar {
    background-color: black;
}

#algebra-logo {
    transform: scale(0.75);
    margin: -10px;
}

#navbar-links > li > a{
    color: white;
}

#navbar-links > li > a:hover{
    color: yellow;
}

#navbar-icon {
    color: orange;
}