body {
    padding-top: 4em;
}

#page-links > li > a{
    color: #FFA500;

    display: inline-block;
    min-width: 6.5em;
    text-align: center;

    -moz-animation: 1s ease-in 0.75s 1 slideInFromRight both;
    -webkit-animation: 1s ease-in 0.75s 1 slideInFromRight both;
    animation: 1s ease-in 0.75s 1 slideInFromRight both;
}

#page-links > li > a:hover{
    color: yellow;
}

@-moz-keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    75% {
        transform: translateX(0);
        opacity: 1;
        margin-right: 5em;
    }
    85% {
        transform: translateX(0);
        opacity: 1;
        margin-right: -5em;
    }
    95% {
        transform: translateX(0);
        opacity: 1;
        margin-right: 2em;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@-webkit-keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    75% {
        transform: translateX(0);
        opacity: 1;
        margin-right: 5px;
    }
    85% {
        transform: translateX(0);
        opacity: 1;
        margin-right: -5px;
    }
    95% {
        transform: translateX(0);
        opacity: 1;
        margin-right: 2px;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    75% {
        transform: translateX(0);
        opacity: 1;
        margin-right: 5px;
    }
    85% {
        transform: translateX(0);
        opacity: 1;
        margin-right: -5px;
    }
    95% {
        transform: translateX(0);
        opacity: 1;
        margin-right: 2px;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.kampus-img-div {
    height: 20em; 
    overflow: hidden;
  }

.responsive-image {
    height: auto;
    width: 100%;

    position: relative;
    left: 50%;
    transform: translate(-50%,-30%);
  }

#nase-vrijednosti {
    text-align: center;
}