body {
    padding-top: 4em;
}

/* -------------- Navbar -------------- */

#page-links > li > a{
    color: #FFA500;

    display: inline-block;
    min-width: 6.5em;
    text-align: center;

    -moz-animation: 1s ease-in 0.75s 1 slideInFromRight both;
    -webkit-animation: 1s ease-in 0.75s 1 slideInFromRight both;
    animation: 1s ease-in 0.75s 1 slideInFromRight both;
}

#page-links > li > a:hover{
    color: yellow;
}

@-moz-keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    75% {
        transform: translateX(0);
        opacity: 1;
        margin-right: 0.75em;
    }
    85% {
        transform: translateX(0);
        opacity: 1;
        margin-right: -0.75em;
    }
    95% {
        transform: translateX(0);
        opacity: 1;
        margin-right: 0.25em;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@-webkit-keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    75% {
        transform: translateX(0);
        opacity: 1;
        margin-right: 0.75em;
    }
    85% {
        transform: translateX(0);
        opacity: 1;
        margin-right: -0.75em;
    }
    95% {
        transform: translateX(0);
        opacity: 1;
        margin-right: 0.25em;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    75% {
        transform: translateX(0);
        opacity: 1;
        margin-right: 0.75em;
    }
    85% {
        transform: translateX(0);
        opacity: 1;
        margin-right: -0.75em;
    }
    95% {
        transform: translateX(0);
        opacity: 1;
        margin-right: 0.25em;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* -------------- Campus image -------------- */

.img-container {
    max-height: 20em;
}

.kampus-img-container {
    max-height: 20em;

    overflow: hidden;
    overflow: -moz-hidden-unscrollable;
}

.responsive-image {
    height: auto;
    width: 100%;

    position: relative;
    left: 50%;
    transform: translate(-50%,-30%);
}

/* -------------- Nase vrijednosti section -------------- */

#nase-vrijednosti-container {
    text-align: center;
    margin-top: 1.25em;
}

div#nase-vrijednosti-container > div > div > p {
    border-bottom: 0.25em solid #FFA500;
}

div#nase-vrijednosti-container > div > div > h1 {
    margin-bottom: 0.5em;
    font-weight: bold;
}

div#nase-vrijednosti-container > div > div > h2 {
    margin-top: 2em;
}

#nase-vrijednosti {
    font-weight: bold;
    color: darkred;
}